body {
    background-color: #226C8C;
    color: white;
}

.dark-bg {
    background-color: #1E2629;
}

.white-bg {
    background-color: white;
    color: black;
}

.searchDiv {
    width: 12rem;
    height: 2rem;
    margin: 4rem;
}

.top input {
    border: 1px solid black;
    color: white;
    background-color: #1b6180;
    border-radius: 30px;
}

#searchButton {
    color: white;
    background-color: #226C8C;
    border-radius: 50%;
    font-size: small;
    font-weight: light;
    margin-right: 4rem;
    border: 1px solid black;
    border-radius: 30px;
    margin: 4rem;
    padding: 1rem;
}

.dropdown-menu {
    width: 300px;
    border-radius: 30px;
}

#dropdownMenuButton {
    border: 1px solid black;
}

#searchButton:hover {
    background-color: #1b6180;
}

.search i:hover {
    transform:scaleY(1.2)
}

#favoritesButton:hover {
    background-color: white;
    color: black;
}

.favorites-bg {
    background-color: #1E2629;
    color: white;
    padding-left: 2rem;
}

.favorites-header {
    background-color: #1E2629;
    color: white;
    font-size: large;
}

.favorites-header h5 {
    padding-left: 4rem;
    font-size: 32px;
}

.top {
    display: flex;
    flex-direction: row;
}

.search i {
    padding-left: 12rem;
}

.favorite {
    margin-left: 8rem;
}

.favorite i {
    padding-right: 1rem;
}

#favoritesButton {
    color: white;
    background-color: #226C8C;
    border: 1px solid black;
    border-radius: 0;
    font-size: small;
    padding: 1rem 4rem 1rem 4rem;
    margin-left: 12rem;
    margin: 4rem;
}

#dayNightButton {
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 0;
    margin-right: 4rem;
}

.middle {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 8rem;
}

.day-night {
    display: flex;
    justify-content: end;
    margin-right: 8rem;
}

#cityName {
    padding-left: 2rem;
    color: white;
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 4rem;
    gap: 1rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center h2 {
    font-size: 24px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem 2rem 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: end;
}